@model MvcGame.Models.ItemGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Объявления</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<form asp-controller="Games" asp-action="" method="get">
    <p>

        <select asp-for="ItemsCategories" asp-items="Model.Categories">
            <option value="">Все</option>
        </select>

        <label>Пользователь: <input type="text" name="SearchString" /></label>
        <input type="submit" value="Искать" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items![0].Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items![0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items![0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items![0].Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
